html {
    font-family: Helvetica, Arial, sans-serif;
    /* background-image: url('bg.png'); */
    background-color:#1d201a;
}
ul.nav {
    background-color: #3f4738;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    padding: 15px;
}

a {
    text-decoration-line: none;
    color: #968732;
}

body {
    display: block;
    border: 5px solid #3f4738;
    text-align: center;
    max-width: 960px;
    min-width: 640px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #4c5844;
    color: #eff6ee;
}

header {
    background-color: #3f4738;
    position: relative;
}

header > h1 {
    padding: 15px;
}

#text {
    margin: 30px;
    background-color: #3f4738;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 600px;
}

#section1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 800px;
    border: 5px solid #3f4738; 
}

footer {
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:#968732;
    width: 550px;
}

.banner {
    position: relative;
}

div.gallery {
    display: inline-block;
    margin: 20px;
}

.gallery-item {
    margin: 10px;
    border: 1px solid #ccc;
    width: 180px;
}
.gallery-item#first {
    width: 395px;
}
.gallery-item#second {
    transform: rotateY(0deg);
    /*
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */
}


li:hover {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
